.features {
  padding-top: 94px;
  &-list {
    display: flex;
    justify-content: space-between;
    &__icon {
      padding: auto;
    }

    &__text {
      padding: 2px 0;
      display: block;
      margin-top: 10px;
    }
    &__direct {
      display: block;
      width: 270px;
    }
    &__icon-box {
      padding: 22px 101px;
      margin-bottom: 30px;
      border: 1px solid var(--secondary-bg-color);
      border-radius: 4px;
      background-color: var(--secondary-bg-color);
    }
    &__title {
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
    }
    &__text {
      font-size: 14px;
      line-height: 1.7;
    }
  }
}
